/* Inputs */
.input {
  background: #f9f8f1;
  border: 2px solid #065f46;
  border-radius: 0.5rem;
  padding: 0.4rem 0.6rem;
  color: #111;
  width: 100%;
}
.input:focus {
  border-color: #f97316;
  outline: none;
  box-shadow: 0 0 5px rgba(249,115,22,0.5);
}

/* Botones */
.btn {
  background: #f97316;
  color: rgb(255, 255, 255);
  padding: 0.4rem 0.8rem;
  border-radius: 0.5rem;
  font-weight: 600;
  transition: all .2s;
}
.btn:hover { background: #ea580c; }

.btn-secondary {
  background: #065f46;
  color: white;
  padding: 0.4rem 0.8rem;
  border-radius: 0.5rem;
  font-weight: 600;
}
.btn-secondary:hover { background: #047857; }

/* Tarjetas */
.card {
  background: #8ccdff;
  border-radius: 0.75rem;
  padding: 0.75rem;
  text-align: center;
  transition: all .2s;
}
.card:hover { transform: scale(1.03); }

/* Badges */
.badge {
  display: inline-block;
  font-size: 0.7rem;
  padding: 0.2rem 0.5rem;
  border-radius: 999px;
  color: rgb(255, 255, 255);
  margin: 0.1rem;
}
